<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <link rel="shortcut icon" href="../public/Assets/logo/event.png"/>
    <link rel="stylesheet" type="text/css" href="../public/Styles/Evento.css"/>
    <title>ProjetoStack</title>
</head>
<body>
    <nav>
        <ul>
            <li id="event"><a href="../index.html">Voltar</a></li>
        </ul>
    </nav>
    <form id="form" method="POST" enctype="multipart/form-data">
        <h1>Cadastrar Evento</h1>
        <input type="text" name="nomeE" id="nomeE" placeholder="Nome Do Evento" autocomplete="off" require>
        <input type="date" name="dataE" id="dataE" require >
        <textarea placeholder="Descrição Do Evento" name="descricao" id="descricao" autocomplete="off" require>
        </textarea>
        Arquivo:<input type="file" name="arquivo" id="arquivo" >
        <input type="submit" id="send" value="Criar"/>
    </form>
    <footer id="my-footer">
        <h2>Desenvolvedor</h2>
        <a href="https://www.instagram.com/ino_css/?hl=pt-br" target="_blank">
            <img src="../public/Assets/logo/instagram.png"/>
        </a>
        <a href="https://github.com/MarcelinoRodrigues" target="_blank">
            <img src="../public/Assets/logo/git.png"/>
        </a>
        <a href="https://whats.link/marcelinorodriguesdonascimento" target="_blank">
            <img src="../public/Assets/logo/whatsapp.png"/>
        </a>
    </footer>
    <script type="text/javascript" src="../public/js/Evento.js"></script>
</body>
</html>